.header {
  background-image: url(assets/main-bg.jpg);
  width: 100%;
  height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar-brand {
  opacity: 0.5;
  transition: ease-in-out 0.5s;
}

.navbar {
  background-color: black;
  opacity: 0.5;
}

.jumbotron {
  padding-top: 250px;
}

.nav-item {
  font-weight: bold;
  color: orangered;
}

.nav-link:hover {
  transition: 0.1s ease-in-out;
  color: white;
}

.btn {
  width: 20%;
  height: 15%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: small;
  border: none;
}

.btn:hover {
  transition: ease-in-out 0.5s;
  background-color: yellow;
}
.display-5 {
  text-align: center;
  margin-top: 277px;
  font-size: small;
}

.slide2 {
  background-image: url(./assets/the-games-bg.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.title {
  padding-left: 250px;
  padding-top: 200px;
  color: white;
}

.desc {
  font-size: 50px;
  padding-left: 250px;
  color: white;
}

.carousel {
  width: 60%;
  margin-left: 40%;
  padding-right: 200px;
  padding-bottom: 300px;
}

.carousel-control-prev {
  padding-bottom: 300px;
  margin-right: 50px;
}

.carousel-control-next {
  padding-bottom: 300px;
  margin-right: 200px;
}
.slide3 {
  background-image: url(./assets/features.jpg);
  background-color: black;
  width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 400px;
  padding-right: 150px;
}

.title1 {
  padding-top: 50px;
}

.title2 {
  padding-bottom: 100px;
  padding-top: 50px;
}

.icon-slide3 {
  display: flex;
}

.row1 {
  margin-left: 1000px;
  margin-top: 160px;
}

.row2 {
  margin-top: 125px;
  margin-left: 1000px;
}

.row3 {
  margin-top: 180px;
  margin-left: 1000px;
}

.slide4 {
  background-image: url(./assets/requirements.png);
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: cover;
  padding-top: 100px;
  padding-bottom: 200px;
}

.slide5 {
  background-image: url(./assets/top-score-bg.png);
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-bottom: 100px;
}

.slide6 {
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.btn3 {
  width: 60%;
  height: 56%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  border: none;
  margin-top: 1.9rem;
  float: left;
}

.btn3:hover {
  transition: ease-in-out 0.5s;
  background-color: yellow;
}

.navbot {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  margin-inline-end: 1rem;
}

.navbot :hover {
  transition: ease-in-out 0.5s;
  color: orange;
}

.navbot-icon {
  margin-inline-end: 1rem;
}

.terms {
  text-decoration: none;
  color: white;
  margin-inline-end: 0.5rem;
}

.terms:hover {
  transition: ease-in-out 0.5s;
  color: orange;
}
